	<div class="hero-unit">

		<h1>This is where Admin creates magic !!</h1>
		<p>
		  You've come to the page for 
		  <%= link_to "Microsoft", "http://Microsoft.com" %>
		  <%= link_to "Windows", "http://Windows.Microsoft.com" %> SM Dashboard.
		</
		</p>		
		<% if user_signed_in? %>
		
		<p>
		 <%= link_to "Add a New User", new_user_registration_path , class: "btn btn-primary btn-large"
		 # new_user_registration_path,
		 %>
		</p>

		<% else %>
		<p>
         <%= link_to "Login", new_user_session_path , class: "btn btn-large btn-primary" %>
         </p>
         
         <% end %>
	</div>