<div class="hero-unit">

		<h1>Welcome to ProCogia's SM Platform</h1>
		<p>
		  You've come to the SM Dashboard for 
		  <%= link_to "Microsoft", "http://Microsoft.com" %>
		  <%= link_to "Windows", "http://Windows.Microsoft.com" %>.
		</
		</p>
		<p>
		 <%= link_to "Come on in", new_user_session_path , class: "btn btn-primary btn-large"
		 # new_user_registration_path,
		 %>
		</p>

</div>