<div class="hero-unit">

		<h1>Welcome to ProCogia's Social Media Platform</h1>
		<p>
		  You've come to the page for 
		  <%= link_to "Microsoft", "http://Microsoft.com" %>
		  <%= link_to "Windows", "http://Windows.Microsoft.com" %> SM Dashboard.
		</
		</p>
		<p>
		 <%= link_to "Sign in Now!", "#{}" , class: "btn btn-primary btn-large"
		 # new_user_registration_path,
		 %>
		</p>

</div>